@charset "UTF-8";

/* MyPage.jsp CSS */
section { background: #F6F6F8; }
section .my_page_wrap { width: 1200px; min-height: 1050px; display: flex; margin: 0px auto; background: #F6F6F8; }
section .my_page_wrap .menu_list_left { width: 200px; }
section .my_page_wrap .menu_list_right { width: 1000px; }
section .my_page_wrap .menu_list_left ul { width: 100%; }
section .my_page_wrap .menu_list_left ul li { height: 40px; }
section .my_page_wrap .menu_list_left ul li a:hover { border-bottom: 1px solid black; }
section .my_page_wrap .menu_list_left ul li .my_a.off { border-bottom: none; }
section .my_page_wrap .menu_list_left ul li .my_a.on { border-bottom: 1px solid black; }
section .my_page_wrap .menu_list_right .right_top { width: 100%; height: 180px; display: flex; align-items: center; background: white; }
section .my_page_wrap .menu_list_right .right_top .user { width: 500px; height: 100px; padding: 19px 90px; text-align: center; display: flex; align-items: center; }
section .my_page_wrap .menu_list_right .right_top .user>img { width: 60px; height: 60px; }
section .my_page_wrap .menu_list_right .right_top .user>p { width: 100%; height: 60px; padding: 19px 15px; font-size: 16px; }
section .my_page_wrap .menu_list_right .right_top .part_line { width: 0; height: 90px; border: 0.1px solid #E5E5E5; }
section .my_page_wrap .menu_list_right .right_top .user_point { width: 500px; height: 100px; text-align: center; }
section .my_page_wrap .menu_list_right .right_top .user_point>p { width: 100%; height: 50px; padding: 15px 5px; }
section .my_page_wrap .menu_list_right .right_top .user_point>div { width: 100%; height: 50px; padding: 3px 5px; font-size: 40px; }
section .my_page_wrap .menu_list_right .right_bottom { width: 1000px; min-height: 870px; }

/* BuyInfo.jsp CSS */
section .buy_info_wrap { width: 1000px; height: 100%; margin: 0 auto; }
section .buy_info_wrap>h3 { width: 100%; height: 40px; text-align: center; }
section .buy_info_wrap .buy_info_table_wrap { width: 1000px; min-height: 600px; margin: 0 auto; }
section .buy_info_wrap .buy_info_table_wrap table { width: 100%; margin: 0 auto; }
section .buy_info_wrap .buy_info_table_wrap table tr .buy_th { height: 40px; text-align: center; font-size: 14px; border-top: 1px solid gray; border-bottom: 1px solid gray; }
section .buy_info_wrap .buy_info_table_wrap table tr .buy_th, tr .date_td, tr .iprice_td, tr .cnt_td, tr .bprice_td { width: 130px; }
section .buy_info_wrap .buy_info_table_wrap table tr .buy_th:nth-child(3), tr .item_td { width: 350px; }
section .buy_info_wrap .buy_info_table_wrap table tr td { height: 55px; text-align: center; font-size: 14px; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; }
section .buy_info_wrap .buy_info_table_wrap table tr .code_td { width: 130px; border-right: 1px solid #E5E5E5; }
section .buy_info_wrap .buy_info_table_wrap table tr .code_td a:hover, tr .item_td a:hover { text-decoration: underline; }
section .buy_info_wrap .buy_info_table_wrap table tr .item_td { text-align: left; padding: 0 8px; }
section .buy_info_wrap .buy_info_table_wrap table tr .item_td img { width: 40px; height: 40px; text-align: left; vertical-align: middle; }
section .buy_info_wrap .prev_div, .page_div, .curr_div, .next_div { width: 30px; height: 30px; text-align: center; padding: 6px 0; border: 1px solid lightgray; margin: 10px 2px; }
section .buy_info_wrap .curr_div { font-weight: bold; color: red; }

/* BuyInfoDetail.jsp CSS */
section .buy_info_detail_wrap { width: 1000px; height: 100%; margin: 0 auto; }
section .buy_info_detail_wrap>h3 { width: 100%; height: 40px; text-align: center; }
section .buy_info_detail_wrap>h4, .item_info>h4, .take_info>h4 { width: 100%; height: 60px; padding-top: 30px; }
section .buy_info_detail_wrap .buy_info { width: 100%; margin: 0 auto; border-top: 1px solid gray; border-bottom: 1px solid gray; }
section .buy_info_detail_wrap .buy_info .buy_date, .buy_info .buy_num, .buy_info .buy_price { display: flex; align-items: center; }
section .buy_info_detail_wrap .buy_info .buy_info_title { width: 200px; height: 40px; padding: 9px 10px; font-size: 15px; }
section .buy_info_detail_wrap .buy_info .buy_info_detail { width: 800px; height: 40px; padding: 12px 10px; }
section .buy_info_detail_wrap .item_info { width: 1000px; margin: 0 auto; }
section .buy_info_detail_wrap .item_info .item_detail { width: 100%; height: auto; margin: 0 auto; }
section .buy_info_detail_wrap .item_info .item_detail table { width: 1000px; margin: 0 auto; }
section .buy_info_detail_wrap .item_info .item_detail table tr .item_th { height: 40px; border-top: 1px solid gray; border-bottom: 1px solid gray; }
section .buy_info_detail_wrap .item_info .item_detail table tr .item_th, tr .item_td { text-align: center; font-size: 14px; }
section .buy_info_detail_wrap .item_info .item_detail table tr .item_th:nth-child(1) { width: 50px; }
section .buy_info_detail_wrap .item_info .item_detail table tr .item_th:nth-child(2), tr .item_td:nth-child(2) { width: 350px; }
section .buy_info_detail_wrap .item_info .item_detail table tr .item_th:nth-child(3), tr .item_td:nth-child(3) { width: 100px; }
section .buy_info_detail_wrap .item_info .item_detail table tr .item_th:nth-child(4), tr .item_th:nth-child(5), tr .item_td:nth-child(4), tr .item_td:nth-child(5) { width: 150px; }
section .buy_info_detail_wrap .item_info .item_detail table tr .item_td { height: 50px; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; }
section .buy_info_detail_wrap .item_info .item_detail table tr .item_td:nth-child(1) { width: 50px; border-right: 1px solid lightgray; }
section .buy_info_detail_wrap .take_info { width: 1000px; margin: 0 auto; }
section .buy_info_detail_wrap .take_info .take_detail { display: flex; }
section .buy_info_detail_wrap .take_info .take_detail .take_detail_left { width: 200px; height: 100px; text-align: center; font-size: 15px; padding: 39px 0; border-top: 1px solid gray; border-bottom: 1px solid gray; }
section .buy_info_detail_wrap .take_info .take_detail .take_detail_right { width: 800px; height: 100px; padding: 20px 0 20px 10px; border: 1px solid gray; border-left: 0; border-right: 0; }
section .buy_info_detail_wrap .list_btn { width: 1000px; margin: 30px auto; text-align: center; }
section .buy_info_detail_wrap .list_btn input { width: 150px; height: 40px; border: 1px solid black; color: white; background: black; }

/* BuyCancel.jsp CSS */
section .buy_cancel_wrap { width: 1000px; height: 100%; margin: 0 auto; }
section .buy_cancel_wrap>h3 { width: 100%; height: 40px; text-align: center; }
section .buy_cancel_wrap .buy_cancel_table_wrap { width: 1000px; min-height: 600px; margin: 0 auto; }
section .buy_cancel_wrap .buy_cancel_table_wrap table { width: 100%; margin: 0 auto; }
section .buy_cancel_wrap .buy_cancel_table_wrap table tr .buy_cancel_th { height: 40px; text-align: center; font-size: 14px; border-top: 1px solid gray; border-bottom: 1px solid gray; }
section .buy_cancel_wrap .buy_cancel_table_wrap table tr .buy_cancel_th, tr .date_td, tr .iprice_td, tr .cnt_td, tr .bprice_td { width: 130px; }
section .buy_cancel_wrap .buy_cancel_table_wrap table tr .buy_cancel_th:nth-child(3), tr .item_td { width: 350px; }
section .buy_cancel_wrap .buy_cancel_table_wrap table tr td { height: 55px; text-align: center; font-size: 14px; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; }
section .buy_cancel_wrap .buy_cancel_table_wrap table tr .code_td { width: 130px; border-right: 1px solid #E5E5E5; }
section .buy_cancel_wrap .buy_cancel_table_wrap table tr .code_td a:hover, tr .item_td a:hover { text-decoration: underline; }
section .buy_cancel_wrap .buy_cancel_table_wrap table tr .item_td { text-align: left; padding: 0 8px; }
section .buy_cancel_wrap .buy_cancel_table_wrap table tr .item_td img { width: 40px; height: 40px; text-align: left; vertical-align: middle; }

/* PointInfo.jsp CSS */
section .point_info_wrap { width: 1000px; height: 100%; margin: 0 auto; }
section .point_info_wrap>h3 { width: 100%; height: 40px; text-align: center; }
section .point_info_wrap .point_info_table_wrap { width: 1000px; min-height: 600px; margin: 0 auto; }
section .point_info_wrap .point_info_table_wrap table { width: 100%; margin: 0 auto; }
section .point_info_wrap .point_info_table_wrap table tr .point_th { height: 40px; text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; }
section .point_info_wrap .point_info_table_wrap table tr .point_th:nth-child(1), tr .point_td:nth-child(1) { width: 200px; padding-left: 10px; }
section .point_info_wrap .point_info_table_wrap table tr .point_th:nth-child(2), tr .point_td:nth-child(2) { width: 600px; }
section .point_info_wrap .point_info_table_wrap table tr .point_th:nth-child(3), tr .point_td:nth-child(3) { width: 200px; padding-right: 10px; }
section .point_info_wrap .point_info_table_wrap table tr .point_td { height: 50px; text-align: center; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; }
section .point_info_wrap .point_info_table_wrap table tr .point_td:nth-child(2) { text-align: left; }
section .point_info_wrap .point_info_table_wrap table tr .point_td>span { color: #3CC42F; }
section .point_info_wrap .prev_div, .page_div, .curr_div, .next_div { width: 30px; height: 30px; text-align: center; padding: 6px 0; border: 1px solid lightgray; margin: 10px 2px; }
section .point_info_wrap .curr_div { font-weight: bold; color: red; }

/* QnaInfo.jsp */
section .qnaInfoWrap { padding: 100px 0; }
section .qnaInfoWrap h3 { display: flex; justify-content: flex-start; align-items: center; margin: 10px; font-size: 18px; font-weight: 500; }
section .qnaInfoWrap #qnaCnt { display: inline-flex; justify-content: center; align-items: center; width: 20px; height: 20px; margin-left: 10px; border-radius: 50%; font-size: 12px; color: #ffffff; background-color: #222222; }
section .qnaInfoWrap li { border-top: 1px solid #c3c3c3; padding: 20px; }
section .qnaInfoWrap .qnaTitle { font-size: 14px; }
section .qnaInfoWrap .qnaTitle label, section .qnaInfoWrap .replyInner label { font-weight: 500; color: #222222; margin-right: 15px; }
section .qnaInfoWrap .qnaTitle span, section .qnaInfoWrap .replyInner span { color: #777777; }
section .qnaInfoWrap .qnaItem { display: inline-block; height: 56px; border: 1px solid #c3c3c3; margin: 15px 0; padding: 7px; }
section .qnaInfoWrap .qnaItem>a { display: inline-flex; justify-content: flex-start; align-items: center; margin-right : 5px; }
section .qnaInfoWrap .qnaItem img { height: 40px; margin-right: 10px; }
section .qnaInfoWrap .qnaContent { margin: 10px 0; }
section .qnaInfoWrap .qnaOpt { color: #777777; font-size: 13px; }
section .qnaInfoWrap .replyOuter { display: flex; justify-content: flex-start; align-items: flex-start; border-top: 1px solid #e5e5e5; margin-top: 15px; padding-top: 10px; font-size: 14px }
section .qnaInfoWrap .replyIcon { width: 16px; height: 16px; margin: 2px;}
section .qnaInfoWrap .replyInner { padding-left: 10px; }
section .qnaInfoWrap .replyContent { padding: 10px 0; }
section .qnaInfoWrap .rightBtnDiv>input[type=button] { width: 90px; height: 36px; border: none; border-radius: 3px; color: #ffffff; background-color: #222222; font-size: 14px; }
section .qnaInfoWrap .qnaMore { height: 36px; border: 1px solid #c3c3c3; margin: 10px 0; }
section .qnaInfoWrap .qnaMore>a { width: 100%; height: 100%; }
section .qnaInfoWrap .qnaMore img { height: 16px; }
section .qnaInfoWrap .nonlist { text-align: center; padding: 30px 0; }

/* 댓글 팝업 */
aside { width: 100%; height: 100%; z-index: 200; background-color: rgba(0, 0, 0, 0.3); position: fixed; top: 0; left: 0; }
aside #replyPop { width: 600px; padding: 20px; border-radius: 20px; background-color: #ffffff; margin: 300px auto 0; }
aside h4 { border-bottom: 1px solid #c3c3c3; padding-bottom: 10px; font-size: 16px; font-weight: 500; }
aside h4 a, aside h4 img{ width: 16px; height: 16px; }
aside textarea { width: 100%; height: 150px; max-height: 450px;  border: 1px solid #c3c3c3; margin: 10px 0; padding: 10px; resize: vertical; font-size: 14px; }
.btnWhite{width: 90px; height: 36px; border: 1px solid #222222; border-radius: 3px; margin-right: 5px; color: #222222; background-color: transparent; font-size: 14px;}
.btnBlack{width: 90px; height: 36px; border: none; border-radius: 3px; color: #ffffff; background-color: #222222; font-size: 14px;}

/* MyInfo.jsp CSS */
section .my_info_wrap { width: 1000px; height: 100%; margin: 0 auto; }
section .my_info_wrap>h3 { width: 100%; height: 40px; text-align: center; }
section .my_info_wrap div { width: 400px; margin: 10px auto; }
section .my_info_wrap div p { margin-bottom: 0; }
section .my_info_wrap div p>span { font-size: 11px; vertical-align: top; color: red; }
section .my_info_wrap div>span { display: block; height: 10px; font-size: 11px; }
section .my_info_wrap .input_div input { width: 400px; height: 35px; }
section .my_info_wrap .zipcode_div input { margin: 2px 0; }
section .my_info_wrap .zipcode_div #zipCode { width: 195px; height: 35px; }
section .my_info_wrap .zipcode_div .zipbtn { width: 200px; height: 35px; vertical-align: middle; border: 1px solid black; color: white; background: black; }
section .my_info_wrap .zipcode_div #roadAddress, .zipcode_div #detailAddress { width: 400px; height: 35px; }
section .my_info_wrap .update_btn { margin-top: 10px; text-align: center; }
section .my_info_wrap .update_btn input { width: 150px; height: 40px; border: 1px solid black; color: white; background: black; }

/* WithdrawPage.jsp CSS */
section .withdraw_wrap { width: 1000px; height: 100%; margin: 0 auto; }
section .withdraw_wrap>h3 { width: 100%; height: 40px; text-align: center; }
section .withdraw_wrap div { width: 600px; margin: 0 auto; }
section .withdraw_wrap div>p { width: 100%; font-size: 14px; }
section .withdraw_wrap div .withdraw_input { width: 200px; margin: 0 auto; }
section .withdraw_wrap div .withdraw_input input { width: 100%; height: 35px; margin-top: 25px; }
section .withdraw_wrap div .withdraw_input span { display: block; width: 200px; height: 15px; font-size: 11px; }
section .withdraw_wrap div .withdraw_btn { width: 100%; margin-top: 10px; text-align: center; }
section .withdraw_wrap div .withdraw_btn input { width: 130px; height: 40px; border: 1px solid black; color: white; background: black; }




